// variables for regular color
$primary: #4834d4;
$primary-light: #F2F1FF;
$black: #000000;
$white: #fff;
$gray: rgb(255 252 245);

// variables for social media icon color
$facebook: #077ced;
$instagram: #dd3da8;
$twitter: #1aa3f9;
$pinterest: #ce0000;

// variables for social media icon color
$hover: #e6beff;

// variables for device breakdown width
$laptop-breakdown: 1024px;
$tablet-breakdown: 768px;
$mobile-breakdown: 425px;

